*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Fonts */
@font-face {
    font-family: "Museo700";
    src: url(../fonts/Museo700-Regular.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "TektonProBoldCond";
    src: url(../fonts/TektonPro-BoldCond.otf);
    font-weight: bold;
}
.museoB{
    font-family: "Museo700";
    font-weight: bold;
}
.tektonProBoldCondB{
    font-family: "TektonProBoldCond";
    font-weight: bold;
}
/* Fonts CDN */
.signikaNegativeR{
    font-family: 'Signika Negative',sans-serif;
    font-weight: 400;
}
.signikaNegativeSB{
    font-family: 'Signika Negative',sans-serif;
    font-weight: 00;
}
.openSansR{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.openSansSB{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.openSansB{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/* Global classes */
hr{
    width: 100%;
    border:none;
    border-top:1px dotted #D1D1D1;
    color:#fff;
    background-color:#fff;
    height:1px;

}
.wrapper{
    max-width: 1240px;
    margin: 0 auto;
}
.mainTitleCards,.titleShowCase,.titleNews,.titleWhatsUp{
    text-align: center;
    color: #093059;
    background-color: white;
    padding: 0px 15px;
    flex-basis: 30%;
}
.titleContainerGlobal{
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.hide{
    display: none;
}

/* Header*/
.menuSpace{
    padding-top: 60px;
    padding-bottom: 8px;
}
.containerHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoHead{
    display: flex;
    align-items: center;
    flex-basis: 30%;
}
.logoHead > img{
    width: 12px;
    height: 12px;
}
.companyName{
    margin-left: 8px;
    font-size: 36px;
    color: #06509D;
}
.containerMenu{
    display: flex;
    justify-content: space-between;
}
.menuHead{
    flex-basis: 50%;
}
.menuItem{
    list-style: none;
}
.menuLink{
    color: #003764;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
}
.menuLink:hover{
    color: #0E57A1;
    transition: 0.3s;
}
.selectionOfMenuLine{
    display: none;
    top: 0px;
    margin: 0px -1.5%;
    position: absolute;
    background-color: #0E57A1;
    width: 120px;
    height: 15px;
}
.menuLink:hover .selectionOfMenuLine{
    display: block;
    transition: 0.3s;
}

/* Main Board */
.mainBoard{
    position: relative;
    background: rgb(4,63,124);
    background: linear-gradient(90deg, rgba(4,63,124,1) 0%, rgba(71,125,169,1) 50%, rgba(4,63,124,1) 100%);
}
.socialMediaBarColorBg{
    background-color: #06427e26;
    z-index: 1;
}
.socialMediaContainer{
    display: flex;
    justify-self: start;
    align-items: flex-start;
}
.socialMediaItem{
    padding: 18px;
    background-color: #21588D;
    list-style: none;
    cursor: pointer;
}
.socialMediaItem:hover{
    transition: linear 0.4s;
    background-color: #8EB61C;
}
.socialMediaItem:last-of-type{
    padding: 17px;
}
.socialMediaLink{
    color: white;
    text-decoration: none;
}
.socialMediaLink > i{
    font-size: 16px;
}
/* Promo */
.mainBoard > article{
    z-index: 15;
}
.promoContainer{
    z-index: 15;
    position: absolute;
    background-image: url(../media/img/backgroundHand.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 558px;
    background-size: 100%;
    left: 30%;
    background-position: 105% -5%;
}
.promoBoard{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.promoTitle{
    margin-top: 69px;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.promoDescrip{
    color: white;
    margin-bottom: 26px;
}
.containerPromoVideo{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.promoVideo{
    width: 140px;
    height: 90px;
    background-color: white;
    cursor: pointer;
}
.promoVideoAlt{
    display: flex;
    flex-direction: row;
    align-items: center;  
}
.promoVideoAlt > img{
    margin-left: 23px;
    margin-right: 6px;
    width: 36px;
    height: 19px;  
}
.promoVideoText{
    color: white;
    font-size: 21px;
    text-transform: uppercase;
}
.promoOfferDownload{
    color: white;
    font-size: 14px;
    flex-basis: 100%;
    margin-bottom: 7px;
}
.containerPromoButtons{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 46px;
}
.containerPromoButtons > a{
    background: rgb(111,135,35);
    background: linear-gradient(0deg, rgba(111,135,35,1) 0%, rgba(177,214,58,1) 82%);
}
.promoButton:nth-last-of-type(1){
    background: rgb(212,108,31);
    background: linear-gradient(0deg, rgba(212,108,31,1) 0%, rgba(233,162,109,1) 90%);
}
.promoButton{
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}
.promoButton:hover:nth-last-of-type(2){
    background: rgb(107, 129, 33);
    background: linear-gradient(0deg, rgb(99, 119, 32) 0%, rgb(162, 195, 53) 82%);
}
.promoButton:hover:nth-last-of-type(1){
    background: rgb(189, 97, 28);
    background: linear-gradient(0deg, rgb(168, 86, 24) 0%, rgb(214, 150, 100) 90%);
}

/* Best Features */
.contentFeatures{
    padding: 40px 0px;
}
.containerOfCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.containerOfCards > .cardSelf{
    flex-basis: 18%;
}
.cardSelf{
    display: flex;
    flex-flow: column;
}
.headCard,.descripCard,.learnMoreCard{
    text-align: center;
    font-size: 11px;
}
.titleCard{
    margin-top: 12px;
}
.headCard{
    display: flex;
    background-color: #F8F8F8;
    color: #0E57A1;
    font-size: 13px;
    height: 108px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.descripCard{
    font-size: 13px;
    color: #5A5A5A;
    padding: 12px 18px; 
}
.learnMoreCard{
    font-size: 13px;
    color: #0E57A1;
    background-color: white;
    border: none;
    outline: none;
    text-decoration: underline;
    cursor: pointer;
}
.learnMoreCard:hover{
    color: #0d5094;
}
.hiddenText{
    display: none;
}


/* ShowCaseNews */
.containerOfShowCaseNews{
    padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.containerOfShowCaseCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.showCaseContainer{
    flex-basis: 35%;
}
.showCaseCard{
    background-color: #0E57A1;
    flex-basis: 49.5%;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}
.showCaseCard:nth-last-child(4){
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.firstInnerCard{
    padding-right: 7px;
    padding-bottom: 17px;
    font-size: 12px;
    color: white;
}
.innerCard{
    color: white;
    font-size: 18px;
}
.overlayCard{
    color: white;
    font-size: 16px;
    padding: 12px;
    position: absolute;
    padding: 14px 16px;
    background-color: #001E3C;
    top: 0px;
    left: 0px;
}

/* News */
.containerForNews{
    flex-basis: 60%;
}
.containerNews{
    display: flex;
    flex-direction: column;
}
.newsSelf{
    margin-bottom: 2px;
    display: flex;
}
.containerTimeNews{
    display: flex;
}
.timeNews{
    color: #0E57A1;
    text-align: center;
    font-size: 11px;
    padding: 0px 12px;
}
.timeNews > span{
    font-size: 24px;
}
.descripNews{
    font-size: 14px;
    color: #5A5A5A;
    padding-top: 4px;
    padding-left: 20px;
}
.descripNews>a{
    color: #0E57A1;
}
.descripContainerNews{
    border-left: 1px solid #3F8CDB;
    background-color: #F8F8F8;
}
.buttonNews{
    color: white;
    padding: 14px 28px;
    border:none;
    background-color: #001E3C;
    float:right;
    margin-bottom: 5px;
    cursor: pointer;
}

/* What People say */
.containerCarusel{
    display: flex;
    align-items: center;
}
.leftArr,.rightArr{
    width: 65%;
    display: flex;
    text-decoration: none;
    margin-top: 67px;
    margin-bottom: auto;
}
.leftArr{
    justify-content: flex-end;
    margin-right: 16px;
}
.rightArr{
    justify-content: flex-start;
    margin-left: 16px;
}
.whatsUpBoard{
    background-color: #F1F1F1;
    margin-bottom: 41px;
}
.titleWhatsUp{
    margin-bottom: 0;
    padding-bottom: 8px;
}
.containerWhaysUp{
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
}
.cardDescripSelf{
    margin-right: 3px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
}
.arrow{
    color: #0E57A1;
    font-size: 52px;
}
.descripWhatsUp{
    padding: 18px 24px;
    font-size: 14px;
    background-color: #fff;
    margin-bottom: 52px;
    height: 60%;
    z-index: 6;
    overflow: hidden;
}
.fewWordsInFrontWhatsUp{
    color: #112D49;
}
.avatarAuthorWhatsUp{
    width: 64px;
    height: 64px;
    border: 3px solid #0E57A1;
}
.authorSelfWhatsUp{
    margin-left: 20px;
    font-size: 12px;
    color: #0E57A1;
}
.containerAuthorWhatsUp{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 23px;
    z-index: 5;
}
.containerAuthorWhatsUp::before{
    content: ' ';
    position: absolute;
    bottom: 95px;
    transform: rotate(60deg);
    width: 100px;
    z-index: 1;
    height: 65px;
    margin-left: -15px;
    background-color: white;
}
.containerAuthorWhatsUp::after{
    content: ' ';
    position: absolute;
    bottom: 64px;
    width: 60px;
    z-index: 1;
    height: 100px;
    margin-left: 30px;
    background-color: #f1f1f1;
}

/* Footer */
.footerBoard{
    display: flex;
    padding-bottom: 35px;
}
.copyRightFooter{
    font-size: 13px;
    padding-right: 8px;
    border-right: 2px solid #66788A;
}
.linkFooter{
    text-decoration: none;
    color: #0E57A1;
    font-size: 13px;
    padding: 0px 8px;
    border-right: 2px solid #66788A;
}
.linkFooter:last-of-type{
    border-right: none;
}
.linkSocialFooter{
    color: #0E57A1;
    text-decoration: none;
    margin-left: 6px;
}
.linkSocialFooter > i{
    font-size: 22px;
    margin-left: 6px;
}
.socialContainerFooter{
    display: flex;
    list-style: none;
    padding: 0px 30px;
}

/* etcPages */
.etcPages{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleEtcPages{
    font-size: 64px;
    text-shadow: 1px 1px #a99e9e;
}